/** Globals **/
:root {
  --color-white: #fff;
  --color-blue: #4747ff;
  --color-grey: #acacac;

  --color-buget: #85c2f5;
  --color-remaining: #98db98;
  --color-error: #dd3f3f;
  --color-success: #4ba74b;
  --color-expense: #d1a0ee;
  --color-low-remainig: #e59c9c;
  --color-mid-remainig: #d0df9a;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, 'open sans', sans-serif;
  font-size: 1.6rem;
  height: 100dvh;
  text-align: center;
  background: linear-gradient(90deg, rgb(50, 50, 255) 0%, rgb(102, 102, 255) 100%);
  display: grid;
  grid-template-rows: 1fr auto;
}

.container {
  width: min(90%, 120rem);
  margin: 0 auto 2rem auto;
}

p {
  margin: 0;
}

/** Notification **/
.notification {
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
}

.error {
  background-color: var(--color-error);
}

.success {
  background-color: var(--color-success);
}

.low-budget {
  background-color: var(--color-low-budget);
}

/** Main **/
h1 {
  font-size: 4rem;
  color: var(--color-white);
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: 2rem;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.75);
}

.subtitle {
  font-size: 3rem;
  color: var(--color-blue);
  font-weight: 400;

}

#form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.form-field input {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-grey);
  border-radius: 0.5rem;
}

.form-field input:focus {
  outline: none;
}

.btn {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
}

.btn:hover {
  background-color: #3131fd;
}

.div-expense {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.div-expense-budget {
  text-align: left;
  padding: 2rem;
  background-color: #85c2f5;
  border-radius: 0.5rem;
}

.budget {
  color: #4343dd;
  font-size: 1.8rem;
  font-weight: 700;
}

.div-expense-remaining {
  text-align: left;
  padding: 2rem;
  border-radius: 0.5rem;
}

.default-color-remaining {
  background-color: var(--color-remaining);
  color: #0c640c;
}

.low-color-remaining {
  background-color: var(--color-low-remainig);
  color: #964040;
}

.mid-color-remaining {
  background-color: var(--color-mid-remainig);
  color: #67772c;
}

.remaining {
  font-size: 1.8rem;
  font-weight: 700;
}

.div-user-expense-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.div-user-expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-expense);
  border-radius: 0.5rem;
  padding: 2rem;
}

.user-expense {
  font-size: 1.8rem;
  font-weight: 700;
  color: #7e398f;
}

.btn-delete {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-error);
  color: var(--color-white);
  cursor: pointer;
}

footer {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(50, 50, 255) 0%, rgb(102, 102, 255) 50%);
  backdrop-filter: blur(5px);
}

.p-author {
  color: var(--color-white);
  font-size: 1.8rem;
}

.link-author {
  color: var(--color-white);
  text-decoration: none;
}

.link-author:hover {
  border-bottom: 1px solid var(--color-white);
}

/** Mobile **/
@media screen and (max-width: 768px) {
  .content-container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .subtitle {
    margin: 1rem 0 0 0;
  }
}